<style>
  .categoria{
   
    cursor: pointer;
  }

  #search{
    border: none;
    font-size: 26px;
    color: #969595;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  #btnSearch{
    background: #fff;
    color: #a79999;
    border: none;
    font-size: 26px;
  }
</style>

<main class="main">
  <div class="container-fluid">

    <div class="row mt-4">
      <div class="col">
        <div class="input-group mb-3">
          <button class="btn btn-success" id="btnSearch" type="submit" (click)="search()">Go</button>

          <input 
          type="text" 
          class="form-control" 
          placeholder="Search" 
          id="search"
          [(ngModel)]="term"
          >
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-2">
        <h3 style="font-size: 1em;  color: #a9a5a5;">Categories</h3>
        <div *ngIf="subjects">
          <span *ngFor="let subject of subjects; let i =index" (click)="searchTerm(subject)" class="badge bg-secondary categoria">{{subject}}</span>
        </div>

      </div>
      <div class="col-sm-8">
          <div class="row" *ngIf="books.docs">
            <div 
            class="col-sm-2" 
            *ngFor="let item of books.docs; let i =index" 
            (click)="addToRead(item)" 
            style= "cursor: pointer;"
            title="Read list add"
            >
              <div class="card"  s>
                <img class="card-img-top" src="{{'https://covers.openlibrary.org/b/olid/'+item.cover_edition_key+'.jpg'}}" alt="{{item.title}}">
               
              </div>
            </div>
          </div>
      </div>

      <div class="col-sm-2">
        <h1 style="font-size: 1em;  color: #a9a5a5;">Read List </h1>
          <div class="row" *ngIf="reads">
            <div 
            class="col-sm-6" 
            *ngFor="let item of reads; let i =index" 
            (click)="delToRead(item, i)"
            style= "cursor: pointer;"
            title="Read list delete"
            >
              <div class="card"  >
                <img class="card-img-top" src="{{'https://covers.openlibrary.org/b/olid/'+item.cover_edition_key+'.jpg'}}" alt="{{item.title}}">
               
              </div>
            </div>
          </div>
      </div>
    </div>
    
    
  </div>
</main>

<router-outlet />
